<div class="w3-row">
    <div class="w3-col s5">

        <nav class="w3-sidenav w3-light-grey w3-card-2" style="width: 25%">
            <div id="servers"></div>
            <div id="databases"></div>
            <div id="tables"></div>

        </nav>

    </div>
    <div class="w3-col s9" style="margin-left: 25%">
        <div id="tools" class="w3-row">
            <ul class="w3-navbar w3-light-grey w3-border">
                <li><a class="w3-green" href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-globe"></i></a></li>
                <li><a href="#"><i class="fa fa-sign-in"></i></a></li>
            </ul>
        </div>
        <div id="tabs" class="w3-row tabs"></div>
    </div>
</div>

@Scripts.Render("~/bundles/collapseComponent")
@Scripts.Render("~/bundles/tabItemComponent")
@Scripts.Render("~/bundles/TabsPanel")
@Scripts.Render("~/bundles/Sidebar")
@Scripts.Render("~/bundles/index")